{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'men/style.css' % }" />
</head>

<body>
    <h1>welcome to men's fashion world from templates</h1>
    <img src="{% static 'images/shirts.png' %}" alt=""/>
    <img src="{% static 'images/jeans.png' %}" alt=""/>
    <img src="{% static 'images/clothes.jpeg' %}" alt=""/>
    
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus suscipit facilis fugit quasi odio soluta
       molestiae illo deserunt fuga beatae officiis, nulla sunt dolorem esse. 
       Laudantium aliquam fugiat vel recusandae.
    </p>

</body>

</html>